@import "../../assets/Resets.module.scss";

header {
  @include layout;
}
.main {
  @include layout;
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  background-color: black;
  padding: 30px 0px;
}
